streamlit==1.40.2
opencv-python==4.10.0.84
numpy==1.26.4
pandas==2.2.3
python-dateutil==2.9.0.post0
mediapipe==0.10.14
tensorflow==2.19.0
scikit-learn==1.5.2
joblib==1.4.2
matplotlib==3.9.2
shap==0.45.1
protobuf==5.28.3
altair==5.3.0
pillow==10.4.0
